<div class="card h-100 cursor-pointer" appHighlight="#fff3e0" (click)="onTitleClick()">
  <div class="row g-0">
    <div class="col-4">
      <img
        [src]="getCoverUrl()"
        class="img-fluid rounded-start"
        [alt]="title.titleweb"
        (error)="onImageError($event)"
      />
    </div>
    <div class="col-8">
      <div class="card-body">
        <h6 class="card-title">{{ title.titleweb }}</h6>
        <p class="card-text small text-muted mb-1">
          {{ title.authorweb }}
        </p>
        <p class="card-text">
          <span
            class="badge"
            [ngClass]="{
              'bg-primary': title.formatcode === 'HC',
              'bg-secondary': title.formatcode === 'MM',
              'bg-success': title.formatcode === 'EL',
              'bg-info':
                title.formatcode !== 'HC' && title.formatcode !== 'MM' && title.formatcode !== 'EL'
            }"
          >
            {{ title.formatname }}
          </span>
        </p>
        @if (title.priceusa) {
        <p class="card-text fw-bold text-success">
          {{ '$' + title.priceusa }}
        </p>
        }
      </div>
    </div>
  </div>
</div>
