# Auto detect text files and perform CRLF normalization for Windows
* text=auto eol=crlf

# These files should always use LF
*.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
