@if (totalPages > 1) {
  <nav class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button
          type="button"
          class="page-link"
          (click)="changePage(currentPage - 1)"
          [disabled]="currentPage === 1"
          aria-label="Previous">
          <i class="bi bi-chevron-left"></i>
        </button>
      </li>
      @for (pageNum of pageNumbers; track pageNum) {
        <li class="page-item" [class.active]="currentPage === pageNum">
          <button
            type="button"
            class="page-link"
            (click)="changePage(pageNum)"
            [attr.aria-current]="currentPage === pageNum ? 'page' : null">
            {{ pageNum }}
          </button>
        </li>
      }
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button
          type="button"
          class="page-link"
          (click)="changePage(currentPage + 1)"
          [disabled]="currentPage === totalPages"
          aria-label="Next">
          <i class="bi bi-chevron-right"></i>
        </button>
      </li>
    </ul>
  </nav>
}
